/* Tollbar.css */
.navigation {
     align-items: center;
     bottom: 20px;
     display: flex;
     justify-content: center;
     position: absolute;
     width: 100%;
}

.menuTogle {
     align-items: center;
     background-color: #ff4886;
     border-radius: 50%;
     box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
     cursor: pointer;
     display: flex;
     height: 65px;
     justify-content: center;
     position: relative;
     transform: translateY(-30px);
     width: 65px;
     z-index: 10;
}

.menuTogle::before {
     color: white;
     content: '+';
     font-size: 3em;
     position: absolute;
     transition: 1.5s;
     z-index: 10;
}

.menuTogle.active:before {
     transform: rotate(225deg);
}

.menuTogle i {
     inset: 0;
     position: absolute;
}

.navigation .menu ul li.active a {
     color: #ff4886;
}

.menu {
     align-items: center;
     background-color: #282B33;
     border-radius: 70px;
     display: flex;
     filter: drop-shadow(2px 4px 6px black);
     height: 60px;
     justify-content: center;
     position: absolute;
     transform: translateY(-30px);
     transition-delay: 1s, 0.5s, 0.5s;
     transition: transform 0.5s, width 0.5s, height 0.5s;
     width: 60px;
}

.menuTogle.active~.menu {
     filter: drop-shadow(2px 4px 6px black);
     height: 70px;
     transform: translateY(0px);
     transition-delay: 0s, 0.5s, 0.5s;
     width: 360px;
}

.menu ul {
     align-items: center;
     display: flex;
     gap: 35px;
     justify-content: center;
     margin-top: 15px;
     position: relative;
}

.menu ul li {
     cursor: pointer;
     opacity: 0;
     transform: translateY(-30px);
     transition-delay: calc(0s + var(--i));
     transition: 0.25s;
     visibility: hidden;
}

.menuTogle.active~.menu ul li {
     opacity: 1;
     transform: translateY(0px);
     transition-delay: calc(0.75s + var(--i));
     visibility: visible;
}

.menu ul li:nth-child(3) {
     width: 30px;
}

.menu ul li a {
     color: floralwhite;
     display: block;
     font-size: 2em;
     transition: all 0.5s ease-in-out;
}

.menu ul li:hover a {
     color: #ff4886;
}