#map {
     position: absolute;
}

#mapContainer {
     position: relative;

     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
}

.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
     display: none;
}
