/* CustomPopup.css */
.custom-popup-container {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     z-index: 1000;
     width: 90%;
     max-width: 300px;
     background-color: #1b2028;
     border-radius: 16px;
     padding: 1rem 3rem 3rem 3rem;
     text-align: center;
     color: #f1f3f3;
     background-image: linear-gradient(135deg,
               rgba(117, 46, 124, 0.35),
               rgba(115, 74, 88, 0.1) 15%,
               #1b2028 20%,
               #1b2028 100%);
     filter: drop-shadow(2px 4px 6px black);
     border: 3px solid transparent;
     background-clip: padding-box;
}

.custom-popup-content {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.popup-image {
     width: 175px;
     height: 175px;
     border-radius: 50%;
     margin-bottom: 20px;
     object-fit: cover;
}

.popup-title {
     font-size: 1.5rem;
     font-weight: 600;
     margin-top: 1.5rem;
     color: #ffeba7;
}

.popup-description {
     font-size: 14px;
     line-height: 1.6;
     margin-top: 10px;
     color: #a89ec9;
     margin-bottom: 20px;
}

.popup-link {
     font-size: 14px;
     color: #ffeba7;
     text-decoration: none;
     transition: color 0.3s ease-in-out;
}

.popup-link:hover {
     color: #fff;
}

.favorite-button {
     background-color: transparent;
     border: none;
     position: absolute;
     z-index: 9999;
     left: 15px;
     cursor: pointer;

}


/* .cancelled {
     opacity: 0.7;
} */

.cancelled-banner {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #ff4885ee;
     text-align: center;
     padding: 10px;
     /* color: rgb(15, 15, 15); */
     font-weight: bold;
     font-size: 1.2rem;
     text-transform: uppercase;
     z-index: 20;
     animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
     from {
          transform: translateY(-100%);
     }

     to {
          transform: translateY(0);
     }
}

.cancelled-text {
     font-size: 1.5rem;
     font-weight: bold;
     color: #0c0c0c;
     margin-bottom: 10px;
     stroke: #111111;
}

.custom-popup-container.cancelled {
     /* filter: grayscale(80%); */
     position: relative;
     overflow: hidden;
}