/* CustomPopup.css */
/* .custom-popup-container {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     z-index: 1000;
     width: 300px; 
     padding: 20px;
     background-color: #2a2b38;
     background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
     background-position: bottom center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 6px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
     color: #c4c3ca;
     font-family: 'Poppins', sans-serif;
 }
 
 .popup-title {
     font-size: 18px;
     font-weight: 600;
     color: #ffeba7; 
     margin-bottom: 10px;
 }
 
 .popup-description {
     font-size: 14px;
     line-height: 1.6;
     margin-bottom: 20px;
 }
 
 .popup-link {
     font-size: 14px;
     color: #ffeba7;
     text-decoration: none;
     transition: color 0.3s ease-in-out;
     margin-top: 10px;
 }
 
 .popup-link:hover {
     color: #fff;
 }
 
 .custom-popup-image {
     width: 100%;
     height: auto;
     border-radius: 4px;
     margin-bottom: 10px;
 }
  */

/* CustomPopup.css */
.custom-popup-container {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     z-index: 1000;
     width: 90%;
     max-width: 300px;
     background-color: #1b2028;
     border-radius: 16px;
     padding: 1rem 3rem 3rem 3rem;
     text-align: center;
     color: #f1f3f3;
     background-image: linear-gradient(135deg,
               rgba(117, 46, 124, 0.35),
               rgba(115, 74, 88, 0.1) 15%,
               #1b2028 20%,
               #1b2028 100%);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
     border: 3px solid transparent;
     background-clip: padding-box;
}

.custom-popup-content {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.popup-image {
     width: 175px;
     height: 175px;
     border-radius: 50%;
     margin-bottom: 20px;
     object-fit: cover;
}

.popup-title {
     font-size: 1.5rem;
     font-weight: 600;
     margin-top: 1.5rem;
     color: #ffeba7;
}

.popup-description {
     font-size: 14px;
     line-height: 1.6;
     margin-top: 10px;
     color: #a89ec9;
     margin-bottom: 20px;
}

.popup-link {
     font-size: 14px;
     color: #ffeba7;
     text-decoration: none;
     transition: color 0.3s ease-in-out;
}

.popup-link:hover {
     color: #fff;
}

.favorite-button {
     background-color: transparent;
     border: none;
     position: absolute;
     z-index: 9999;
     left: 15px;
     cursor: pointer;

}